.App {
  text-align: center;
  background-color: #fb4f29;
  background-color: #808080;
  background-color: #ff4066;
  background-color: #f5f5f5;
}

body {
  background-color: #f5f5fa;
  /* border: 1px solid #ebebeb; */
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}